<!--
  Generated template for the AktualnoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>Aktualno</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding>
  <div  class="aktualnoContainer">
    <div class="aktualnoHolder" *ngFor="let akt of aktualno">
      <div class="aktualnoHeading" *ngFor="let autor of akt.autor">
        <img [src]="autor.slika_sudionik"/>
        <p class="autorAktualno">{{autor.first_name}} {{autor.last_name}}</p>
      </div>
      <div class="aktualnoIMG">
        <img [src]="akt.aktualno_slika"/>
        <p class="tekstAktualno" [innerHTML]="akt.post_tekst"></p>
      </div>
      <div class="likeAktualno">
        <button class="likes" (click)="addLike($event)">{{akt.likes}} likes</button>
      </div>
    </div>
  </div>
  <button class="add" (click)="goToCreateAkutalno()"><img src="../../assets/imgs/plus.png"/></button>
</ion-content>
