page-menu {
.menuContainer {
position: absolute;
    top: 0;
    left:0;
    bottom: 35px;
    background-color: #fff;
    right: 50px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.20);
}
.menu-inner > ion-content {
	background-image: url("../../assets/imgs/loginBG.png");
	    background-size: cover;
}
 button {
    background: transparent !important;
}
}
